body{
    background-color: rgb(20, 20, 20);
    background-image: url(../images/fondo.svg);
}

h1{
    color:aliceblue;
}

.center_content{
    display: flex;
    min-height: 25vh;
    min-width: 75vw;
    justify-content: center;
    align-items: center;

    color: aliceblue;
    background-color: rgb(20,20,20);    
}
