/*FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

/*ESTILOS GENERALES*/
body{
    background-color: rgb(20, 20, 20);
    background-image: url(../images/fondo.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    font-family: 'Jersey 10';
    margin: 0;
}

a{
    display: inline-block;
    color: rgb(193, 22, 56);
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover{
    color: blueviolet;
    transform: scale(1.2);
}

/*TEXTO*/
.main_title{
    font-size: 350%;
    color: aliceblue;
    text-shadow: 10px 5px 0px rgba(193, 22, 56, 0.9);
    margin: 3vh;
    margin-bottom: 1vh;
}

.center{
    display: flex;
    min-height: fit-content;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.center_text{
    color: aliceblue;
    font-size: 150%;
    margin-left: 3vw;
}
.center_text p{
    text-align: justify;
}

/*IMAGEN*/
.pfp{
    margin-left: 3vw;
    margin-right: 3vw;
}

/*HEADER*/
.page_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 3vh;
    width: inherit;
    border-bottom: 1vh dashed rgb(62, 62, 62);
}
.nav_links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;
    font-size: 175%;
    margin-bottom: 3vh;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(360px, 50dvw, 100%);
    min-height: 100dvh;
    background-color: rgb(20, 20, 20); 
    border-left: 2vw solid rgb(62, 62, 62);
    border-right: 2vw solid rgb(62, 62, 62);
}
