@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body{
    background-color: rgb(20, 20, 20);
    background-image: url(../images/fondo.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;

    font-family: 'Jersey 10';
}

.main_title{
    font-size: 350%;
    color: aliceblue;
}

.center{
    display: flex;
    width: 75vw;
    min-height: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20,20,20);    
}

.center_text{
    color: aliceblue;
    font-size: 150%;
    padding-left: 5vw;
}

.pfp{
    padding-right: 5vw;
}

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 175%;
}
.nav_links a{
    color: rgb(193, 22, 56);
}
.nav_links a:hover{
    color: blueviolet;
}
